.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.card1{
  display: flex;
  flex-direction: row;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn2{
  height: 1px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.linechart{
  color:white;
  
}
.page2{
  background-color:rgb(64, 255, 47) ;
  padding: 20px;
  border-radius: 10px;
}
.page1{
  display: flex;
  flex-direction: row;
}
.select1{
  height: 100px;
}
.btn2{
  height: 50px;
  margin-top: 0px;
  background-color: transparent;
  color:white;
  width:150px;
  margin-left: 735px;
  border: 4px solid rgb(50, 255, 47);
  border-radius: 10px ;
}
.btn3{
  background-color: black;
  color:black;
  border: 4px solid rgb(50, 255, 47);
  
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color:white;
}
.mainbody
{
  display: flex;
  flex-direction: column;
  gap:100px;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}